NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_PHONE_NUMBER=+19499430957
NEXT_PUBLIC_TEXT_NUMBER=+19499430957
NEXT_PUBLIC_EMAIL_ADDRESS=modhausllc@gmail.com
NEXT_PUBLIC_CHATBOT_EMBED_SRC=
NEXT_PUBLIC_SITE_URL=
OWNER_INVITE_CODE=
OWNER_ACCESS_SECRET=
ADMIN_ALLOWED_EMAILS=
TWILIO_ACCOUNT_SID=
TWILIO_API_KEY_SID=
TWILIO_API_KEY_SECRET=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=+12729991986
TWILIO_OWNER_TO_NUMBER=+19499430957
TWILIO_WEBHOOK_SECRET=
TWILIO_WEBHOOK_AUTH_TOKEN=
