NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_PHONE_NUMBER=+19499430957
NEXT_PUBLIC_CHATBOT_EMBED_SRC=
NEXT_PUBLIC_SITE_URL=
OWNER_INVITE_CODE=
OWNER_ACCESS_SECRET=
ADMIN_ALLOWED_EMAILS=
